{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": true }
    ]
  ]
}
