@import '~antd/lib/style/themes/default.less';

.lines-input {
  flex: 0 1 auto;
  width: auto;
  margin: 10px;
}

.lines-list {
  flex: 1;
  margin: 0 10px 0 10px;
  overflow: auto;

  .ant-list-item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    content: '';
  }

  .line-item {
    .ant-list-item:hover {
      background-color: @item-hover-bg;
    }
  }

  .seleted-line-item {
    .ant-list-item {
      background-color: @primary-1;
    }
  }
}

.item-meta {
  .ant-list-item-meta-avatar {
    margin: auto 20px auto 5px;
  }
  .ant-list-item-meta-title {
    display: inline-flex;

    .line-name {
      width: 120px;
      margin-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .service-type-tag {
      display: inline-flex;
    }
  }
}
